{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <h1>Método de Interpolación de Hermite</h1>
    <form class="form" id="cantidad-puntos-form" method="POST">
        {% csrf_token %}
        <label for="cantidad-puntos">Ingrese la cantidad de puntos</label>
        <input type="number" name="cantidad-puntos" id="cantidad-puntos" required>
        <button type="submit" id="btn-cantidad-puntos">Enviar</button>
    </form>

    <div id="resultados">
        {% if resultado %}
            <h2>Resultados</h2>
            {% if img %}
                <img src="data:image/png;base64,{{ img }}" alt="Gráfica de la función">
            {% endif %}
            {% if user.is_authenticated %}
                {{ df_txt|safe }}
                <p>Polinomio de Hermite: {{ polinomio }}</p>
                <h3>Pasos para encontrar el polinomio:</h3>
                <ul>
                    {% for paso in pasos %}
                        <li>{{ paso|safe }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ df_hermite|safe }}
                <p>Polinomio de Hermite: {{ polinomio }}</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
