{% extends 'layout/base.html' %}

{% block content %}
<h1>INTERPOLACION DE HERMITE</h1>
<div class="content">
    <p>La interpolación de Hermite es un método utilizado para construir un polinomio que no solo pasa por un conjunto de puntos dados, sino que también tiene derivadas especificadas en esos puntos. Este tipo de interpolación es especialmente útil cuando se conocen tanto los valores de una función como sus derivadas en ciertos puntos, proporcionando una aproximación más precisa que la interpolación polinómica simple.</p>
</div>

{% endblock %}