{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <h1>Crear Cuenta</h1>

    <form action="{% url 'register' %}" method="POST" class="form">
        {% csrf_token %}
        <label for="usuario">Nombre de usuario:</label>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario" required>
        
        <label for="email">Correo:</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        
        <label for="pwd1">Contraseña:</label>
        <input type="password" name="pwd1" id="pwd1" placeholder="Contraseña" required>
        
        <label for="pwd2">Confirma tu contraseña:</label>
        <input type="password" name="pwd2" id="pwd2" placeholder="Confirma tu contraseña" required>
        
        <button type="submit" name="register" id="register" class="btn">Registarse</button>
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia Sesión</a> para acceder a todas las funciones de nuestra calculadora.</p>
</form>
    </form>
</div>
{% endblock %}
