{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <h1>INTERPOLACIÓN DE HERMITE</h1>
    <p2>La interpolación de Hermite es un método utilizado para construir un polinomio que no solo pasa por un conjunto de puntos dados, sino que también tiene derivadas especificadas en esos puntos. Este tipo de interpolación es especialmente útil cuando se conocen tanto los valores de una función como sus derivadas en ciertos puntos, proporcionando una aproximación más precisa que la interpolación polinómica simple.</p>

    <h2>Pasos para resolver la interpolación de Hermite:</h2>
    <ol>
        <li>Definición de los puntos y las derivadas.</li>
        <li>Construcción de las diferencias divididas.</li>
        <li>Formulación del polinomio de Hermite.</li>
        <li>Evaluación y aplicación del polinomio.</li>
    </ol>

    <h1>MÉTODO DE RUNGE-KUTTA</h1>
    <p2>El método de Runge-Kutta es un conjunto de técnicas numéricas utilizadas para resolver ecuaciones diferenciales ordinarias (EDOs) de manera aproximada. Es especialmente eficaz para resolver ecuaciones no lineales y sistemas de EDOs que no tienen solución analítica conocida.</p>

    <h2>Pasos para resolver un problema usando el método de Runge-Kutta:</h2>
    <ol>
        <li>Formulación del problema en forma de EDO.</li>
        <li>Selección del método Runge-Kutta adecuado.</li>
        <li>Iteración numérica para calcular la solución.</li>
        <li>Evaluación y refinamiento de la solución.</li>
    </ol>

    <h1>DESARROLLADORES</h1>
    <ol>
        <li>Andrade Campos, Osiris Ivania</li>
        <li>Barrera Flores, René Alexander</li>
        <li>Hernández Arias, Alisson Andrea</li>
    </ol>

</div>
{% endblock %}