{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<h1>Crear Cuenta</h1>
<div class="container-register">
    <form class="registro" action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <label class="labels" for="usuario">Usuario:</label>
        <input class="inputsRegister" type="text" name="usuario" placeholder="Usuario" required>
        
        <label class="labels" for="email">Correo:</label>
        <input class="inputsRegister" type="email" name="email" placeholder="Email" required>
        
        <label class="labels" for="pwd1">Contraseña:</label>
        <input class="inputsRegister" type="password" name="pwd1" placeholder="Contraseña" required>
        
        <label class="labels" for="pwd2">Confirmar:</label>
        <input class="inputsRegister" type="password" name="pwd2" placeholder="Confirma tu contraseña" required>
        
        <input class="botonRegister" type="submit" name="register" id="register" value="Registrarse">
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia Sesión</a></p>
    </form>
    
    <div class="container-img">
        <img src="{% static 'img/logo.png' %}" alt="Logo">
        <p>Bienvenido a una de las calculadoras que hacen posible lo imaginable. Escuchaste bien, esta calculadora es capaz de hacer los métodos de Hermite y Runge-Kutta.</p>
    </div>
</div>
{% endblock %}
